body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MAS DATOS SOLICITUD CONDUCTORES */

.contrainer_MDS {

    margin: 20px;
    border: solid;
    border-radius: 15px;
  
}

#tbl-MDS{
    text-align: center;
}

/* MAS DATOS CONDUCTORES */

.contrainer_MD {

    margin: 20px;
    border: solid;
    border-radius: 15px;
  
}

#tbl-MD{
    text-align: center;
}

/* MANIFIESTO */

.manifiesto{
    margin: 0.2%;
    border: solid 2px;
}

#tabla_manifiesto {
    text-align: center;
    width: 100%;
    height: 100vh;
    border: solid 1px;
}